.search-bar{
    padding: 1.25vw;
    border: 1px solid #ccc;
    border-radius: 0.5vw;
    font-size: larger;
    width: 80%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9212A;
    width: 100%;
    height: 100%;
}