.container {
    background-color: #156082;
    color: #fff;
    padding: 2vw 0; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1rem;
}
